body, html, #root {
  height: 100%;
  margin: 0;
}

.layout-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar {
  flex-shrink: 0;
  position: fixed;
}

.content-container {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 200px; /* Adjust as necessary */
  flex-shrink: 0;
}

.main-content {
  flex: 1;
  /* position: fixed; */
   /* Adjust as necessary */
  padding-top: 2px !important;
  overflow-y: auto;
  max-height: 80vh !important;
}

.footer {
  flex-shrink: 0;
}
