body, html, #root {
  height: 100%;
  margin: 0;
}

.layout-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar {
  flex-shrink: 0;
}

.content-container {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 200px; /* Adjust as necessary */
  flex-shrink: 0;
}

.main-content {
  flex: 1;
  padding: 20px; /* Adjust as necessary */
  overflow-y: auto;
  min-height: 90vh !important;
}

.footer {
  flex-shrink: 0;
}
.loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 0.6s linear infinite;
  animation: spinner 0.6s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
