.react-calendar {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
  }
  
  .react-calendar__tile--active {
    background-color: #3182CE !important;
    color: white !important;
  }
  
  .react-calendar__tile--now {
    background: #EDF2F7;
  }
  
  .react-calendar__tile:hover {
    background-color: #e2e8f0 !important;
    color: #1a202c !important;
  }
  